[user]
    name = {{ .gitName | quote }}
    email = {{ .gitEmail | quote }}

[core]
{{- if eq .chezmoi.os "windows" }}
    editor = preferred-editor.cmd
{{- else }}
    editor = preferred-editor
{{- end }}
    excludesFile = ~/.config/git/ignore
    pager = delta

[init]
    defaultBranch = main

[fetch]
    prune = true

[push]
    default = simple
    autoSetupRemote = true

[merge]
    conflictStyle = zdiff3

[diff]
    algorithm = histogram
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[commit]
    verbose = true

[rerere]
    enabled = true

[alias]
    st = status
    co = checkout
    sw = switch
    br = branch
    ci = commit
    last = log -1 HEAD
    lg = log --oneline --decorate --graph -20
    amend = commit --amend --no-edit

[include]
    path = ~/.gitconfig.local
