[user]
    name = {{ .gitName | quote }}
    email = {{ .gitEmail | quote }}

[core]
{{- if eq .chezmoi.os "windows" }}
    editor = cursor --wait
{{- else }}
    editor = vi
{{- end }}
    excludesFile = ~/.config/git/ignore

[init]
    defaultBranch = main

[fetch]
    prune = true

[push]
    default = simple
    autoSetupRemote = true

[merge]
    conflictStyle = zdiff3


[diff]
    algorithm = histogram
    colorMoved = default

[commit]
    verbose = true

[rerere]
    enabled = true

[include]
    path = ~/.gitconfig.local
